<%= form_for([@seller, @seller.gigs.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :context %><br>
    <%= f.text_area :context %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>